.card {
    display: flex;
    gap: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    letter-spacing: .1em;
}

/* .card:hover .title {
    color: magenta
} */

.card:hover .title {
    color: darkblue
}
